apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: microservices-app
  labels:
    app: auth-service
spec:
  selector:
    app: auth-service
  ports:
  - port: 80
    targetPort: 80
  type: ClusterIP
