apiVersion: v1
kind: Namespace
metadata:
  name: microservices-app
  labels:
    name: microservices-app
    purpose: application
    environment: homelab
    app.kubernetes.io/name: microservices-app
    app.kubernetes.io/managed-by: kubernetes
